<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guestbook Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="/static/guestbook.css">
    <link rel="stylesheet" href="/static/guestbook.js">
</head>

<body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="">Welcome to Club Penguin</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected"><a href="/" class="pure-menu-link">Home</a></li>
            </ul>
        </div>
    </div>

<div class="content-wrapper">

    <div class="content">
        <h2 class="content-head is-center">Club Penguin guestbook</h2>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form id="guestbookForm" class="pure-form pure-form-stacked">
                    <fieldset>
                        <legend>Penguin name</legend>
                        <input id="name" type="text" name="name" placeholder="Fill in the blank" required minlength="3">
                    </fieldset>
                    <button type="submit" class="pure-button pure-button-primary">Next</button>
                </form>
                <div id="confirmationMessage" style="margin-top: 1em;"></div>
            </div>
        </div>

        <div class="pure-g" style="margin-top: 2em;">
            <div class="l-box-lrg pure-u-1">
                <h2>Guestbook Entries</h2>
                <table id="guestbookTable" class="pure-table pure-table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody id="guestbookBody">
                        <!-- Entries will be injected here -->
                    </tbody>
                </table>
            </div>
        </div>


    </div>

</div>
<script src="/static/guestbook.js"></script>



</body>
</html>